.warp {
    padding: 25px 0 0 90px;
}

.header {
    overflow: hidden;
}

.photo {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}

.info {
    float: left;
    padding: 50px 0 0 50px;
    color: #2c3250;
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
        font-weight: bold;
    }
    span {
        font-size: 14px;
        font-weight: normal;
    }
}

.main {
    padding-top: 20px;
    overflow: hidden;
    min-height: 700px;
}
.aside {
    width: 200px;
    float: left;
    font-size: 12px;
    font-weight: bold;
}

.content {
    float: right;
    width: 930px;
    padding: 10px 0 0;
}
