.header {
    height: 110px;
    background: #e5e5e5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.inner {
    width: 1080px;
    margin: 0 auto;
    height: 100%;
}
.main {
    min-height: 600px;
    padding-bottom: 40px;
    background-color: #e5e5e5;
    overflow: hidden;
}
.aside {
    width: 280px;
    float: left;
    min-height: 600px;
    a {
        font-size: 14px;
        cursor: pointer;
        display: block;
    }
}
.aside-top {
    padding: 20px 0px 20px 22px;
    margin: 0 20px 0 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.aside-nav {
    padding: 20px 20px 0 36px;
}
.content {
    width: 910px;
    float: left;
    min-height: 1200px;
    background: rgba(242, 153, 74, 0.2);
    padding: 6px 50px 0 40px;
    position: relative;
}
.logo {
    float: left;
    padding: 20px 0 0 0;
    > img {
        display: block;
        width: 233px;
        height: 64px;
    }
}
.user {
    padding: 30px 0 0 0;
    float: right;
}

.footLine {
    height: 65px;
    background-color: #2c3250;
    > ul {
        line-height: 65px;
        width: 150px;
        margin: 0 auto;
        > li {
            height: 30px;
            margin: 0 10px;
            vertical-align: middle;
            width: 30px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
        }
    }
}

.footContent {
    height: 380px;
    background: linear-gradient(
        180deg,
        #2c3250 0%,
        rgba(44, 50, 80, 0.364641) 63.54%,
        rgba(44, 50, 80, 0) 100%
    );
    opacity: 0.5;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
