.react-datepicker-wrapper {
    width: 100%;
}
.react-datepicker__input-container {
    width: 100%;
    input {
        width: 90%;
        height: 26px;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 14px;
    }
    input:focus {
        outline: none;
    }
}
